@import "reset.scss";
@import "breakpoints.scss";

$primary-color: #7f31ff;
$primary-text: #161f26;
$secondary-text: #fafee5;
$secondary-color: #af6dff;

:root{
	box-sizing: border-box;
}

*,
::before,
::after{
	box-sizing: border-box;
}

body{
    width: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	font-family: 'Roboto', sans-serif;
	color: #000;
	background: #fff;
	font-size: 1em;
    font-weight: normal;
}

.visually-hidden{
	position: absolute;
	height: 0.125em;
	width: 0.125em;
	overflow: hidden;
	clip: rect(0.125em 0.125em 0.125em 0.125em);
	clip: rect(0.125em, 0.125em, 0.125em, 0.125em);
	white-space: nowrap;
}

.title{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: $primary-color;
}

.modal{
	display: none;
}

.modal--active{
	opacity: 1;
	display: block;
	background: rgba(127, 49, 255, 0.8);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__box{
	background: $secondary-text;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    box-shadow: 0 0 2em rgba(0,0,0,0.1);
	width: 25em;
	max-width: 100%;
	height: auto;
	padding: 3em 2em 3.5em;
	display: inline-flex;
	align-items: center;
	max-height: 100%;
}

.modal__content{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1em;
	width: 100%;
	position: relative;
}

.modal__title{
	position: absolute;
	top: 2em;
	left: 2em;
	color: $primary-text;
}

.container{
    width: 100%;
	margin: 0 auto;
	background: transparent;
	padding: 2em;
    margin-top: 2em;
	
	@include sm{
        width: 30em;
    }
}

.todos{
	margin: 1em 0em 2em; 
}

.todos__item{
    background: transparent;
	color: $primary-text;
	display: inline-flex;
	align-items: center;
	height: 3em;
	padding: 1em;
	width: 100%;
	justify-content: flex-start;
	position: relative;
	
	&:hover{
	  background: $secondary-text;
	}
	
	+ .todos__item{
		margin-top: 1em;
	}
}

.todos__item--empty{
	text-align: center;
	line-height: 3em;
}

.todos__text{
	margin-left: 0.5em;
}

.filter{
	width: 100%;
	margin: 1em 0 0;
	display: inline-flex;
	justify-content: flex-end;
}

.button{
	border: 0;
	background: transparent;
	cursor: pointer;     
    outline: none;
	
    &:hover{
	  opacity: 0.8;
	}
}

.button--filter{
	color: $primary-text;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	
	+ .button--filter{
		margin-left: 0.5em;
	}
}

.button--open{
    background: $primary-color;
	margin: 0 auto;
	width: 3em;
	height: 3em;
	border-radius: 100%;	
	display: block;
	line-height: 1em;
	position: relative;
		
	&:before, &:after {
		position: absolute;
		top: 1em;
		left: 1.45em;
		content: ' ';
		height: 1em;
		width: 0.125em;
		background-color: $secondary-text;
	}
	
	&:before {
		transform: rotate(90deg);
	}
	&:after {
		transform: rotate(-180deg);
	}
}

.button--add{
	color: $primary-color;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 2em;

	&:hover{
		color: $primary-text;
	}
}

.button--close{
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	display: block;
	line-height: 2em;
	top: 1em;
	right: 1em;
	
	&:hover {
	    &:before, &:after {
		  opacity: 0.8;
	    }
	}

	&:before, &:after {
		position: absolute;
		top: 0.250em;
		left: 0.625em;
		content: ' ';
		height: 1em;
		width: 0.125em;
		background-color: $primary-color;
	}
	
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}	
}

.button--delete {
	width: 1.5em;
	height: 1.5em;
    position: absolute;
    right: 1.5em;
	
	&:hover {
	    &:before, &:after {
		  background-color: $primary-color;
	    }
	}

	&:before, &:after {
		position: absolute;
		top: 0.250em;
		left: 0.563em;
		content: ' ';
		height: 1em;
		width: 0.125em;
		background-color: $primary-text;
	}
	
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

.button--toggle{
    appearance: none;
    display: inline-block;
    position: relative;
    height: 1.375em;
    width: 1.375em;
    border: 0.15em solid $primary-text;
    border-radius: 100%;
}

.button--toggle-completed{
    border: 0.15em solid $primary-text;

	&:before{
		position: absolute;
		left: -0.188em;
		top: 0.375em;
		height: 50%;
		width: 0.125em;
		background-color: $primary-color;
		content: "";
		transform: translateX(0.625em) rotate(-45deg);
		transform-origin: left bottom;
	}
	
	&:after {
		position: absolute;
		left: -0.125em;
		bottom: 0.125em;
		height: 0.125em;
		width: 110%;
		background-color: $primary-color;
		content: "";
		transform: translateX(0.625em) rotate(-45deg);
		transform-origin: left bottom;
	}
}

.input{
	position: absolute;
	background: transparent;
    border: 0;
	border-bottom: 0.125em solid $primary-color;
	width: 100%;
	color: $primary-color;
	font-family: 'Roboto', Helvetica;
	padding: 0.5em;
	height: 2em;
}
